@using Daedalus_Orbis.Map
@rendermode InteractiveServer
@inject UXEvents uxEvents



<div class="rz-p-4">
    Right Sidebar
    @if(tile != null)
    {
        <h1>@tile.Id</h1>
    }
    else
    {
        <h1>No Tile Selected!</h1>
    }
</div>


@code {
    bool rightSidebarExpanded = true;
    [Parameter]
    public TileComponentData? tile { get; set; }


    protected override async Task OnInitializedAsync()
    {
        uxEvents.OnNewTileSelectedClient += NewTileSelected;
    }

    private void NewTileSelected(TileComponentData t)
    {
        if (t == null)
        {
            return;
        }
        Console.WriteLine(t.Id);
        tile = t;
        InvokeAsync(StateHasChanged);
    }

}
